h1{color:White; font-size:40px; font-size:60px; text-align:right;}
div.img{align: left;}
#cosas{float:right}
#arena{font-family:"Istok Web"; font-size:30px; margin-left:50px;}
@font-face{font-family:letra;src:url(kenyan.ttf);}
#botones{ list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;}
    button
    {padding:14px 40px;float:right;}
    #queja{background:rgba(30, 238, 30, 0.733); margin-top:300px}
    #correo{text-align: right;}
    p{margin-top:10px;
	margin-bottom:10px;}
    #text{margin-top:10px;padding:25px;}
    #ll{margin-bottom:10px;padding:25px;}
    #azul{float:right;}
    #rosa{float:right;}
	div.columna1{background-color: limegreen; text-align: right;}